.point-icon
  display inline-block
  width 32px
  height 16px
  border-radius 8px
table.param-table
  table-layout fixed
  width 100%
  border-collapse collapse
  tbody
    tr
      &:nth-child(n+2)
        border-top 1px solid rgba(0, 0, 0, .2)
      td.header
        font-weight bold
        width 50%
      td.value
        width 50%